<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>404 Nastik - Creative Responsive Personal Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap color-bg">
            <div class="loader-bg"></div>
            <div class="loader-inner">
                <div class="loader"></div>
            </div>
        </div>
        <!--loader end-->
        <!-- Main  -->
        <div id="main">
            <!-- header-->
            <header class="main-header">
                <a href="index.html" class="logo-holder ajax"><img src="images/logo.png" alt=""></a>
                <!-- nav-button-wrap-->
                <div class="nav-button but-hol">
                    <span  class="nos"></span>
                    <span class="ncs"></span>
                    <span class="nbs"></span>
                    <div class="menu-button-text">Menu</div>
                </div>
                <!-- nav-button-wrap end-->
                <div class="header-social">
                    <ul >
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
                <div class="folio-btn">
                    <a class="folio-btn-item ajax" href="portfolio.html"></a>
                    <span class="folio-btn-tooltip">My Portfolio</span>
                </div>
            </header>
            <!-- header end -->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder  -->	
                <div class="content-holder scroll-content" data-pagetitle="404">
                    <!-- nav-holder-->
                    <div class="nav-holder but-hol">
                        <div class="nav-scroll-bar-wrap fl-wrap">
                            <a href="index.html" class="ajax logo_menu"><img src="images/logo2.png" alt=""></a>
                            <div class="nav-container fl-wrap">
                                <!-- nav -->
                                <nav class="nav-inner" id="menu">
                                    <ul>
                                        <li>
                                            <a href="#">Home</a>
                                            <!--level 2 -->
                                            <ul>
                                                <li><a href="index.html" class="ajax">Slider</a></li>
                                                <li><a href="index2.html" class="ajax">Carousel</a></li>
                                                <li><a href="index3.html" class="ajax">Impulse Image</a></li>
                                                <li><a href="index4.html" class="ajax">Slideshow</a></li>
                                                <li><a href="index5.html" class="ajax">Video</a></li>
                                                <li><a href="index6.html" class="ajax">Parallax Image</a></li>
                                            </ul>
                                            <!--level 2 end -->
                                        </li>
                                        <li>
                                            <a href="#">Portfolio</a>
                                            <!--level 2 -->
                                            <ul>
                                                <li><a href="portfolio.html" class="ajax">Fullscreen Grid</a></li>
                                                <li><a href="portfolio3.html" class="ajax">Fullscreen Grid 2</a></li>
                                                <li><a href="portfolio2.html" class="ajax">Column Grid</a></li>
                                                <li><a href="portfolio4.html" class="ajax">Column Grid 2</a></li>
                                                <li><a href="portfolio5.html" class="ajax">Boxed Grid</a></li>
                                                <li>
                                                    <a href="#">Single</a>
                                                    <!--level 3 -->
                                                    <ul>
                                                        <li><a href="portfolio-single.html" class="ajax">Style 1</a></li>
                                                        <li><a href="portfolio-single2.html" class="ajax">Style 2</a></li>
                                                        <li><a href="portfolio-single3.html" class="ajax">Style 3</a></li>
                                                        <li><a href="portfolio-single4.html" class="ajax">Style 4</a></li>
                                                        <li><a href="portfolio-single5.html" class="ajax">Style 5</a></li>
                                                        <li><a href="portfolio-single6.html" class="ajax">Style 6</a></li>
                                                    </ul>
                                                    <!--level 3 end -->
                                                </li>
                                            </ul>
                                            <!--level 2 end -->
                                        </li>
                                        <li><a href="contacts.html" class="ajax">Contacts</a></li>
                                        <li><a href="blog.html" class="ajax">Blog</a></li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <!--level 2 -->
                                            <ul>
                                                <li><a href="team.html" class="ajax">Team</a></li>
                                                <li><a href="blog-single.html" class="ajax">Blog Single</a></li>
                                                <li><a href="404.html" class="ajax">404</a></li>
                                            </ul>
                                            <!--level 2 end -->
                                        </li>
                                    </ul>
                                </nav>
                                <!-- nav end-->
                            </div>
                        </div>
                        <div class="share-wrapper">
                            <span class="share-title">Share : </span>
                            <div class="share-container"></div>
                        </div>
                        <div class="nav-holder-line"></div>
                    </div>
                    <div class="nav-holder-dec color-bg"></div>
                    <div class="nav-overlay"></div>
                    <!-- nav-holder end -->           
                    <!-- hero-wrap -->
                    <div class="hero-wrap fl-wrap full-height">
                        <div class="bg"  data-bg="images/bg/1.jpg"></div>
                        <div class="overlay"></div>
                        <div class="error-wrap fl-wrap">
                            <div class="container">
                                <h2>404</h2>
                                <p>We're sorry, but the Page you were looking for, couldn't be found.</p>
                                <div class="clearfix"></div>
                                <form action="#">
                                    <input name="se" id="se2" type="text" class="search" placeholder="Search.." value="Search...">
                                    <button class="search-submit color-bg" id="err_submit_btn"><i class="fa fa-search"></i> </button>
                                </form>
                                <div class="clearfix"></div>
                                <p>Or</p>
                                <a href="index.html" class="btn color-bg">Back to Home Page</a>
                            </div>
                        </div>
                        <div class="hero-corner"></div>
                        <div class="hero-corner2"></div>
                        <div class="hero-corner3"></div>
                    </div>
                    <!-- hero-wrap end -->
                    <!--footer-->
                    <div class="height-emulator fl-wrap"></div>
                    <footer class="main-footer fixed-footer">
                        <div class="container">
                            <div class="footer-inner fl-wrap">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="footer-box fl-wrap">
                                            <div class="footer-title fl-wrap">
                                                <span>001.</span>
                                                Last Twits
                                            </div>
                                            <div class="footer-box-item fl-wrap">
                                                <div class="twitter-swiper-container fl-wrap" id="twitts-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="footer-title fl-wrap">
                                            <span>002.</span>
                                            Subscribe / Contacts
                                        </div>
                                        <div class="footer-box-item fl-wrap">
                                            <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                                            <div class="subcribe-form fl-wrap">
                                                <form id="subscribe" class="fl-wrap">
                                                    <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                                    <button type="submit" id="subscribe-button" class="subscribe-button color-bg"><i class="fal fa-paper-plane"></i> Send </button>
                                                    <label for="subscribe-email" class="subscribe-message"></label>
                                                </form>
                                            </div>
                                            <!-- footer-contacts-->
                                            <div class="footer-contacts fl-wrap">
                                                <ul>
                                                    <li><i class="fal fa-phone"></i><span>Phone :</span><a href="#">+489756412322</a></li>
                                                    <li><i class="fal fa-envelope"></i><span>Email :</span><a href="#">nastik@domain.com</a></li>
                                                    <li><i class="fal fa-map-marker"></i><span>Address</span><a href="#">USA 27TH Brooklyn NY</a></li>
                                                </ul>
                                            </div>
                                            <!-- footer end -->                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="subfooter fl-wrap">
                                <!-- policy-box-->
                                <div class="policy-box">
                                    <span>&#169; Nastik 2019  /  All rights reserved. </span>
                                </div>
                                <!-- policy-box end-->                     
                                <div class="to-top to-top-btn color-bg"><span>To top</span></div>
                            </div>
                        </div>
                        <div class="sec-lines"></div>
                        <div class="footer-canvas">
                            <div class="dots gallery__dots" data-dots=""></div>
                        </div>
                    </footer>
                    <!--footer  end -->
                </div>
                <!-- content-holder end -->
            </div>
            <!--wrapper end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->          
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script src="js/jquery.min.js"></script>      
        <script src="js/plugins.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>