{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Nastik - Creative Responsive Personal Portfolio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
        <link type="text/css" rel="stylesheet" href="{% static 'css/color.css' %}">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap color-bg">
            <div class="loader-bg"></div>
            <div class="loader-inner">
                <div class="loader"></div>
            </div>
        </div>
        <!--loader end-->
        {% block content %}
        {% endblock %}
           <!--footer-->
           <div class="height-emulator fl-wrap"></div>
           <footer class="main-footer fixed-footer">
               <div class="container">
                   <div class="footer-inner fl-wrap">
                       <div class="row">
                           <div class="col-md-6">
                               <div class="footer-box fl-wrap">
                                   <div class="footer-title fl-wrap">
                                       <span>001.</span>
                                       Last Twits
                                   </div>
                                   <div class="footer-box-item fl-wrap">
                                       <div class="twitter-swiper-container fl-wrap" id="twitts-container"></div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-6">
                               <div class="footer-title fl-wrap">
                                   <span>002.</span>
                                   Subscribe / Contacts
                               </div>
                               <div class="footer-box-item fl-wrap">
                                   <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                                   <div class="subcribe-form fl-wrap">
                                       <form method="post" action="{% url 'sub' %}"  class="fl-wrap">
                                        {% csrf_token %}
                                           <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                                           <button type="submit" id="subscribe-button" class="subscribe-button color-bg"><i class="fal fa-paper-plane"></i> Send </button>
                                           <label for="subscribe-email" class="subscribe-message"></label>
                                       </form>
                                   </div>
                                   <!-- footer-contacts-->
                                   <div class="footer-contacts fl-wrap">
                                       <ul>
                                           <li><i class="fal fa-phone"></i><span>Phone :</span><a href="#">+489756412322</a></li>
                                           <li><i class="fal fa-envelope"></i><span>Email :</span><a href="#">nastik@domain.com</a></li>
                                           <li><i class="fal fa-map-marker"></i><span>Address</span><a href="#">USA 27TH Brooklyn NY</a></li>
                                       </ul>
                                   </div>
                                   <!-- footer end -->                                    
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="subfooter fl-wrap">
                       <!-- policy-box-->
                       <div class="policy-box">
                           <span>&#169; Nastik 2019  /  All rights reserved. </span>
                       </div>
                       <!-- policy-box end-->                     
                       <div class="to-top to-top-btn color-bg"><span>To top</span></div>
                   </div>
               </div>
               <div class="sec-lines"></div>
               <div class="footer-canvas">
                   <div class="dots gallery__dots" data-dots=""></div>
               </div>
           </footer>
           <!--footer  end -->
       </div>
       <!-- content-holder end -->
   </div>
   <!--wrapper end -->
   <!-- cursor-->
   <div class="element">
       <div class="element-item"></div>
   </div>
   <!-- cursor end-->          
</div>
<!-- Main end -->
<!--=============== scripts  ===============-->
<script src="{% static 'js/jquery.min.js' %}"></script>      
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>