{% extends 'base.html' %}
{% load static %}
{% block content %}
       
        <!-- Main  -->
        <div id="main">
            <!-- header-->
            {% include 'sidebar.html' %}
            <!-- header end -->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder  -->	
                <div class="content-holder scroll-content" data-pagetitle="Portofolio Single">
                    <!-- nav-holder-->
                    {% include 'navholder.html' %}
                    <div class="nav-holder-dec color-bg"></div>
                    <div class="nav-overlay"></div>
                    <!-- nav-holder end -->  
                    <!-- hero-slider-wrap --> 
                    <div class="hero-wrap fl-wrap full-height scroll-con-sec hidden-section" id="sec1" data-scrollax-parent="true">
                        <div class="media-container" data-scrollax="properties: { translateY: '30%' }">
                            <div class="video-container">
                                <video playsinline autoplay  loop muted class="bgvid">
                                    <source src="video/2.mp4" type="video/mp4">
                                </video>
                            </div>
                            <!--  
                                Vimeo code
                                
                                 <div  class="background-vimeo" data-vim="97871257"> </div> --> 
                            <!--  
                                Youtube code 
                                
                                 <div  class="background-youtube-wrapper" data-vid="Hg5iNVSp2z8" data-mv="1"> </div> -->
                            <div class="overlay"></div>
                        </div>
                        <div class="half-hero-wrap">
                            <div class="pr-bg"></div>
                            <div class="rotate_text">
                                <div>25 may 2019</div>
                            </div>
                            <h1>Lokomotive Studio <br> Video <span> design </span><br>  project</h1>
                            <h4>Praesent eu massa vel diam laoreet elementum ac sed felis. Donec suscipit ultricies risus sed mollis. Donec volutpat porta risus posuere imperdiet. </h4>
                            <div class="clearfix"></div>
                            <a href="#sec2" class="btn fl-btn custom-scroll-link  color-bg">View More Details</a>
                        </div>
                        <div class="hero-border hb-top"></div>
                        <div class="hero-border hb-bottom"></div>
                        <div class="hero-border hb-right"></div>
                        <div class="hero-corner"></div>
                        <div class="hero-corner2"></div>
                        <div class="hero-corner3"></div>
                        <div class="scroll-down-wrap sdw_hero">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                            <span>Scroll down  to discover</span>
                        </div>
                    </div>
                    <!-- hero-slider-wrap  end--> 
                    <!--content -->
                    <div class="content">
                        <!--section -->
                        <section id="sec2">
                            <div class="col-wc_dec"></div>
                            <div class="container">
                                <!-- text-block --> 
                                <div class="text-block fl-wrap no-mar-top">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h3 class="pr-subtitle"> {{pr.project_titel}}</h3>
                                            <p>{{pr.desc}}
                                            </p>
                                            <p>  
                                            </p>
                                            <h3 class="pr-subtitle  mar-top"> Gallery</h3>
                                            <!-- portfolio start -->
                                            <div class="gallery-items min-pad  lightgallery   fl-wrap  ">
                                                <!-- gallery-item-->
                                                {% for i in pr.gallery_set.all %}
                                                <div class="gallery-item  web branding">
                                                    <div class="grid-item-holder hov_zoom">
                                                        <img  src="{{i.img.url}}"    alt="">
                                                        <a href="{{i.img.url}}" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                                    </div>
                                                    <div class="pr-bg"></div>
                                                </div>
                                                {% endfor %}
                                                <!-- gallery-item end-->
                                                <!-- gallery-item-->
                                  
                                                <!-- gallery-item end-->
                                                <!-- gallery-item-->
                             
                                                <!-- gallery-item end-->
                                            </div>
                                            <!-- portfolio end --> 
                                            <h3 class="pr-subtitle mar-top"> The Brief</h3>
                                            <!-- accordion-->                            
                                            <div class="accordion mar-top">
                                            {% for i in pr.detail_opations_set.all %}
                                                <a class="toggle act-accordion" href="#"> {{i.heading}}   <span></span></a>
                                                <div class="accordion-inner visible">
                                                    <p>{{i.desc}}</p>
                                                </div>
                                                {% endfor %}
                                               
                                            </div>
                                            <!-- accordion end -->                                                        
                                        </div>
                                        <div class="col-md-4">
                                            <div class="project-details fl-wrap">
                                                <ul>
                                                    <li><span>Date :</span> {{pr.date}} </li>
                                                    <li><span>Client :</span> {{pr.client}}</li>
                                                    <!-- <li><span>Category : </span></li> -->
                                                    <li><span>Online : </span>  <a href="{{pr.project_link}}" target="_blank">{{pr.project_domain }} </a></li>
                                                </ul>
                                                <a href="{{pr.project_link}}" class="btn color-bg fl-wrap">View Project</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="limit-box2 fl-wrap"></div>
                                    <!--content-nav_holder-->            
                                    <div class="content-nav_holder fl-wrap blog-nav">
                                        <div class="pr-bg pr-bg-white"></div>
                                        <div class="content-nav">
                                            <ul>
                                                <li>
                                                    <a href="/" class="ln ajax"><i class="fal fa-long-arrow-left"></i><span>Back To Home</span></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="images/bg/1.jpg"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="{% url 'prot' %}" class="rn ajax"><span >All Projects</span> <i class="fal fa-long-arrow-right"></i></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="images/bg/1.jpg"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--content-nav_holder end -->                         
                                </div>
                                <!-- text-block end --> 
                            </div>
                            <div class="sec-lines"></div>
                            <div class="col-wc_dec col-wc_dec2 col-wc_dec3"></div>
                        </section>
                        <!--section end -->
                    </div>
                    <!--content  end -->
                    {% endblock %}