{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Main  -->
        <div id="main">
            <!-- header-->
            {% include 'sidebar.html' %}
            <!-- header end -->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder  -->	
                <div class="content-holder scroll-content" data-pagetitle="Our Team">
                    <!-- nav-holder-->
                    {% include 'navholder.html' %}
                    <div class="nav-holder-dec color-bg"></div>
                    <div class="nav-overlay"></div>
                    <!-- nav-holder end -->           
                    <!-- fixed-column-wrap -->       
                    <div class="fixed-column-wrap">
                        <div class="progress-bar-wrap">
                            <div class="progress-bar color-bg"></div>
                        </div>
                        <div class="column-image fl-wrap full-height">
                            <div class="bg"  data-bg="images/bg/long/1.jpg"></div>
                            <div class="overlay"></div>
                            <div class="column-image-anim"></div>
                        </div>
                        <div class="fcw-dec"></div>
                        <div class="fixed-column-tilte fcw-title"><span>Our  Team</span></div>
                    </div>
                    <!-- fixed-column-wrap end -->
                    <!-- column-wrap -->
                    <div class="column-wrap  ">
                        <!--content -->
                        <div class="content">
                            <div class="fixed-top-panel fl-wrap">
                                <div class="sp-fix-header fl-wrap">
                                    <div class="scroll-down-wrap">
                                        <div class="mousey">
                                            <div class="scroller"></div>
                                        </div>
                                        <span>Scroll down  to discover</span>
                                    </div>
                                    <a href="/" class="ajax back-to-home-btn"><span>Back to home</span></a>
                                </div>
                            </div>
                            <!--section -->
                            <section   class="hidden-section bot-element no-bottom-padding">
                                <div class="col-wc_dec"></div>
                                <div class="container">
                                    <div class="section-title fl-wrap">
                                        <h3>My Awesome Team</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p>
                                    </div>
                                    <!-- team-box   --> 
                                    {% for i in team %}
                                    <div class="team-box">
                                        <div class="team-photo">
                                            <div class="overlay"></div>
                                            <img src="{{i.img.url}}" alt="" class="respimg"> 	
                                            <a href="{{i.fb_link}}" class="team-contact_btn color-bg"><i class="fal fa-envelope"></i></a>
                                        </div>
                                        <div class="team-info">
                                            <h3>{{i.name}}</h3>
                                            <h4>{{i.roll}}</h4>
                                            <p>{{i.desc}}</p>
                                        </div>
                                        <ul class="team-social">
                                            <li><a href="{{i.fb_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{{i.inst_link}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="{{i.twt_link}}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="{{i.wk_link}}" target="_blank"><i class="fab fa-vk"></i></a></li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                    <!-- team-box end --> 
                                    <!-- team-box   --> 
                                   
                                    <!-- team-box end --> 
                                    <!-- team-box   --> 
                                    
                                    <!-- team-box end -->                                      
                                    <!-- team-box   --> 
                                   
                                    <!-- team-box end -->     
                                    <div class="sec-number">01.</div>
                                </div>
								<div class="clearfix"></div>
								<div class="order-wrap  hiddec-anim fl-wrap">
									<div class="container">
										<div class="order-wrap-container fl-wrap">
											<div class="pr-bg pr-bg-white"></div>
											<h4>Want to be part of a team ? </h4>
											<a href="{% url 'contact' %}" class="ajax btn color-bg">Get In Touch</a>
										</div>
									</div>
								</div>								
                                <div class="col-wc_dec col-wc_dec2 col-wc_dec3"></div>
                            </section>
                            <!--section end -->
                            <div class="limit-box fl-wrap"></div>
                        </div>
                    </div>
                    <!--content  end -->
                    {% endblock %}